[general]
namespace=default
provider=kubernetes
db_user=sentry
db_pass=sentry
db_name=sentry

[postgresql]
name=postgres
image=postgres

[redis]
name=redis
image=redis

[sentry]
name=sentry
image=rtnpro/sentry
